/* === Layout Admin === */
.admin {
  display: grid;
  grid-template-columns: 18% auto;
}

/* === Sidebar Admin === */
.admin__sidebar {
}

.admin__sidebar-logo > img {
  width: 50px;
  height: 50px;
}

.admin__sidebar-menu {
  background-color: #363740;
  height: 100vh;
}

.admin__sidebar-menu-nav {
  padding-top: 30px;
}

.admin__sidebar-item {
  padding: 16px 25px;
  color: #a4a6b3;
}

.admin__sidebar-item:hover {
  background-color: #454650;
  cursor: pointer;
}

.admin__sidebar-item-link {
  display: block;
}

.admin__sidebar-item-link > i {
  color: #a4a6b3;
}

.admin__sidebar-item-title {
  color: #a4a6b3;
  margin-left: 25px;
}
